/* Footer */

footer {
	background-color: $color-accent;
	clear: both;
	color: $color-highlight;
	padding: 2rem 0;
}

.footer-content {
	margin: 0 auto;
	width: 90%;

	img {
		padding: 0 0.25rem 0 0.75rem;
		vertical-align: top;
	}

}

