/* Global Styles */

body {
	background-color: $color-tertiary;
	border-top: 5px solid $color-primary;
	color: $color-text;
	font: {
		family: $font-text;
		@include fntz(1.1);
		weight: 400;
	}
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

p {
	line-height: 1.6em;
}

a {
	color: $color-accent;
	text-decoration: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		color: $color-accent2;
	}

}

cite {
	display: block;
}

img {
	max-width: 100%;
}

::-moz-selection {
  background-color: $color-tertiary;
}

::selection {
  background-color: $color-tertiary;
}

:focus {
	outline: $color-tertiary solid 0;
}

