/* Global Styles */

body {
	background-color: $color-tertiary;
	color: $color-text;
	font: {
		family: $font-text;
		@include fntz(1.1);
		weight: 400;
	}
	-webkit-font-smoothing: antialiased;
}

p {
	line-height: 1.6em;
}

a {
	color: $color-primary;
	text-decoration: none;
}

::-moz-selection {
  background-color: $color-tertiary;
}

::selection {
  background-color: $color-tertiary;
}

