/* Header */

.topbar {
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
}

.logo {
	float: left;
	font: {
		family: $font-heading;
		@include fntz(1.5);
	}
	padding: 0.65rem 0;
}

.nav-link {
	float: right;
	padding: 1rem 0;
}

nav.small {
	background-color: $color-highlight;
	display: none;
	overflow: hidden;

	ul {

		li {
			border-bottom: 2px solid $color-tertiary;
			padding: 1rem;
			text-align: center;
		}

	}

}

nav.large {
	display: none;
	float: right;

	ul {

		li {
			display: inline-block;
			padding: 1.1rem 1rem 1.35rem 0;
		}

	}

}

.selected {
	border-top: 5px solid $color-secondary;
}

.tagline {
	color: $color-primary;
	font: {
		family: $font-heading;
	}
	margin: 6rem auto 8rem auto;
	text-align: center;

	p {
		font: {
			@include fntz(2.5);
		}
		line-height: 1.25em;

		span {
			color: $color-secondary;
		}

	}

}

#my-textrotator {
	list-style: none;
	padding:0;
	margin: 0 0 24px;
}

#my-textrotator li {
	display: none;
}

.leader-header {
	margin: 6rem auto 8rem auto;
	overflow: hidden;
	width: 90%;

	.info {

		.name {
			font: {
				@include fntz(1.75);
			}
		}

		.in-town-for {
			margin-top: 0.5rem;
		}

		.event {
			font: {
				weight: 700;
			}
		}

	}

}

