/* Header */

.topbar {
	margin: 0 auto;
	overflow: hidden;
	width: 90%;

	a {
		color: $color-primary;

		&:hover {
			color: $color-secondary;
		}

	}

}

.logo {
	float: left;
	font: {
		family: $font-heading;
		@include fntz(1.5);
	}
	padding: 0.65rem 0;
}


/* Navigation */

.nav-link {
	float: right;
	padding: 1rem 0;
}

nav.small {
	background-color: $color-highlight;
	display: none;
	overflow: hidden;

	ul {

		li {
			border-bottom: 2px solid $color-tertiary;
			padding: 1rem;
			text-align: center;

			a {
				color: $color-primary;

				&:hover {
					color: $color-secondary;
				}

			}

			a.selected {
				border-top: 0;
				color: $color-secondary;
			}

		}

	}

}

nav.large {
	display: none;
	float: right;

	ul {

		li {
			border-top: 5px solid $color-tertiary;
			display: inline-block;
			padding: 1rem 1rem 1.35rem 0;

			&.selected {
				border-top: 5px solid $color-secondary;
			}

		}

	}

}




/* Home Header */

.tagline {
	margin: 6rem auto 4rem auto;
}

.quote {
	margin: 6rem auto 8rem auto;
}

.tagline,
.quote {
	color: $color-primary;
	font: {
		family: $font-heading;
	}
	text-align: center;

	p,
	blockquote {
		font: {
			@include fntz(2.5);
		}
		line-height: 1.25em;

		span {
			color: $color-secondary;
		}

	}

}

.quote {

	blockquote {

		cite {
			color: $color-secondary;
			font: {
				family: $font-text;
				@include fntz(1.5);
			}
			margin-top: 1rem;

		}

	}

}

.intro {
	margin: 0 auto 4rem auto;
	overflow: hidden;
	width: 90%;

	p {
		box-sizing: border-box;
		font: {
			weight: 300;
		}
		margin-bottom: 1rem;
	}

}


/* Leader Header */

.leader-header {
	margin: 4rem auto 5rem auto;
	overflow: hidden;
	width: 90%;

	.photo {
		@include grid(6);
	}

	.info {
		@include grid(6);

		.name {
			color: $color-primary;
			font: {
				@include fntz(1.75);
				weight: 700;
			}
		}

		.title {
			color: $color-secondary;
			font: {
				@include fntz(1.25);
				style: italic;
			}
		}

		.in-town-for {
			font: {
				weight: 300;
			}
			margin-top: 0.5rem;
		}

		.date {
			color: $color-primary;
			font: {
				weight: 700;
			}
			margin-top: 0.5rem;
		}

	}

}

