/* Header */

.topbar {
	margin: 0 auto;
	overflow: hidden;
	width: 90%;

	a {
		color: $color-primary;

		&:hover {
			color: $color-secondary;
		}

	}

}

.logo {
	float: left;
	font: {
		family: $font-heading;
		@include fntz(1.5);
	}
	padding: 0.65rem 0;
}


/* Navigation */

.nav-link {
	float: right;
	padding: 1rem 0;
}

nav.small {
	background-color: $color-highlight;
	display: none;
	overflow: hidden;

	ul {

		li {
			border-bottom: 2px solid $color-tertiary;
			padding: 1rem;
			text-align: center;

			a.selected {
				border-top: 0;
				color: $color-secondary;
			}

		}

	}

}

nav.large {
	display: none;
	float: right;

	ul {

		li {
			display: inline-block;
			padding: 1.1rem 1rem 1.35rem 0;
		}

	}

}

.selected {
	border-top: 5px solid $color-secondary;
}


/* Home Header */

.tagline,
.quote {
	color: $color-primary;
	font: {
		family: $font-heading;
	}
	margin: 6rem auto 8rem auto;
	text-align: center;

	p,
	blockquote {
		font: {
			@include fntz(2.5);
		}
		line-height: 1.25em;

		span {
			color: $color-secondary;
		}

	}

}


/* Leader Header */

.leader-header {
	margin: 6rem auto 8rem auto;
	overflow: hidden;
	width: 90%;

	.info {

		.name {
			font: {
				@include fntz(1.75);
			}
		}

		.in-town-for {
			margin-top: 0.5rem;
		}

		.event {
			font: {
				weight: 700;
			}
		}

	}

}

