/* Home Styles */

main {
	margin: 0 auto;
}

.leaders {
	margin: 3rem auto 5rem auto;
	overflow: hidden;
	width: 90%;
}

.leader {
	background-color: $color-highlight;
	clear: both;
	@include grid(12);
	margin: 1rem auto;
	overflow: hidden;

	.info {
		float: left;
		margin-left: 1rem;
		padding: 0.5rem 0;

		.name {
			display: block;

			a {
				font: {
					@include fntz(1.25);
					weight: 700;
				}
			}

		}

		.title,
		.date {
			display: inline;
		}

		.title {
			font: {
				@include fntz(1.1);
				style: italic;
				weight: 300;
			}
			line-height: 1.15em;
			margin-top: 0.25rem;
		}

		.date {
			font: {
				@include fntz(1.1);
			}
			margin-left: 1rem;
		}

	}

	&:hover {
		background-color: lighten($color-accent2, 25%);
	}

}

.view-all {
	clear: both;

	a {
		border: 2px solid $color-accent;
		color: $color-accent;
		display: inline-block;
		font: {
			weight: 700;
		}
		margin-top: 0.5rem;
		padding: 0.25rem 0.75rem;

		&:hover {
			background-color: $color-accent;
			color: $color-highlight;
		}

	}

}


// Featured Stories

.story-links {
	margin: 2rem auto 5rem auto;
	width: 90%;
}

.story-link {
	border-bottom: 3px solid $color-highlight;
	margin: 2rem 0;
	padding-bottom: 2rem;

	&:first-child {
		margin-top: 4rem;
	}

	&:nth-child(n+3) {
		border-bottom: 0;
		margin-bottom: 0;
	}

	h2 {
		color: $color-primary;
		font: {
			@include fntz(1.5);
			weight: 700;
		}
		text-transform: capitalize;
	}

	p {
		margin-top: 0.5rem;
	}

	span {
		font: {
			style: italic;
			weight: 300;
		}
	}

}

