/* Home Styles */

main {
	margin: 0 auto;
}


// Upcoming Leaders

.leader {
	border-bottom: 3px solid $color-highlight;
	margin: 2rem auto;
	overflow: hidden;
	padding-bottom: 2rem;
	width: 90%;

	&:last-child {
		border-bottom: 0;
		margin-bottom: 5rem;
	}

}

.info {
	box-sizing: border-box;
	@include grid(6);
	padding: 1.5rem 0;

	.name {
		color: $color-primary;
		font: {
			@include fntz(1.5);
			weight: 700;
		}
	}

	.title {
		font: {
			@include fntz(1.35);
			style: italic;
			weight: 300;
		}
		line-height: 1.15em;
		margin-top: 0.25rem;
	}

	.date {
		font: {
			@include fntz(1.25);
		}
	}

	.details-link {

		a {
			border: 2px solid $color-accent;
			color: $color-accent;
			display: inline-block;
			font: {
				weight: 700;
			}
			margin-top: 0.5rem;
			padding: 0.25rem 0.75rem;

			&:hover {
				background-color: $color-accent;
				color: $color-highlight;
			}

		}

	}

	&.right {
		padding-left: 1rem;
	}

}

.photo {
	box-sizing: border-box;
	@include grid(6);
	padding: 1rem 0;


	img {
		width: 10.938rem;
	}

}


// Featured Stories

.story-link {
	border-bottom: 3px solid $color-highlight;
	margin: 2rem auto;
	padding-bottom: 2rem;
	width: 90%;

	&:nth-child(2) {
		margin-top: 4rem;
	}

	&:last-child {
		border-bottom: 0;
	}

	h2 {
		color: $color-primary;
		font: {
			@include fntz(1.5);
			weight: 700;
		}
	}

	p {
		margin-top: 0.5rem;
	}

	span {
		font: {
			style: italic;
			weight: 300;
		}
	}

}

