/* Leader Styles */

.writeup {
	margin: 3rem auto 1rem auto;
	overflow: hidden;
	width: 90%;

	h2 {
		color: $color-primary;
		font: {
			@include fntz(1.25);
		}
		margin-bottom: 2rem;
	}

	p {
		padding-bottom: 1rem;
	}

	.group:last-child {
		margin-top: 2rem;
	}

	.source {
		font: {
			style: italic;
			weight: 300;
		}
	}

}

.enter {
	clear: both;
	margin: 2rem auto 5rem auto;
	overflow: hidden;
	width: 90%;

	h2 {
		color: $color-primary;
		font: {
			@include fntz(1.25);
		}
	}

	.form-element {
		@include grid(12);
	}

	label {
		display: block;
		padding: 1.5rem 0 0.5rem 0;
	}

	input {
		border: 2px solid $color-accent;
		display: block;
		font: {
			family: $font-text;
			@include fntz(1);
		}
		padding: 0.5rem;
		width: 100%;
	}

	button {
		background-color: $color-tertiary;
		border: 2px solid $color-accent;
		color: $color-accent;
		cursor: pointer;
		display: inline-block;
		font: {
			@include fntz(1.2);
			weight: 700;
		}
		line-height: 1.6em;
		margin-top: 2rem;
		padding: 0.5rem 2rem;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: $color-accent;
			color: $color-highlight;
		}

	}

}

.invisible {
	clear: both;
	display: none;

	&.message {
		display: block;
	}

}

.success {
	padding: 3rem 0 2rem 0;
}

