/* Media Queries */

@media screen and (min-width: 601px) {

	.nav-link {
		display: none;
	}

	nav.small {
		display: none;
	}

	nav.large {
		display: inline-block;
	}

	h1 {
		padding-left: 20%;
	}

	.leader,
	.story-link,
	.writeup,
	.enter {
		width: 80%;
	}

}

@media screen and (min-width: 861px) {

	h1 {
		padding-left: 30%;
	}

	.leader,
	.story-link {
		width: 60%;
	}

	.about {
		h1 {
			padding-left: 20%;
		}
	}

	.writeup p {
		@include grid(6);
	}

}

@media screen and (min-width: 1201px) {

	.upcoming-leaders,
	.featured-stories {
		float: left;
	}

	.upcoming-leaders {
		width: 60%;

		h1 {
			padding-left: 20%;
		}

	}

	.featured-stories {
		width: 40%;

		h1 {
			margin-left: 2.5%;
			padding-left: 7.5%;
		}

	}

	.leader,
	.story-link {
		width: 80%;
	}

	.about {
		h1 {
			margin-left: 17.5%;
			padding-left: 2.5%;
		}
	}

	.writeup,
	.enter {
		width: 60%;
	}

}

