/* Media Queries */

@media screen and (min-width: 481px) {

	.nav-link {
		display: none;
	}

	nav.small {
		display: none;
	}

	nav.large {
		display: inline-block;
	}

	.tagline {
		margin: 7rem auto 5rem auto;
	}

	.quote {
		margin: 7rem auto 9rem auto;
	}

	.quote {

		p,
		blockquote {
			font: {
				@include fntz(2.75);
			}
		}

	}

	h1 {
		padding-left: 20%;
	}

	.leader-header {

		.info {

			.name {
				font: {
					@include fntz(2);
				}
			}

			.title {
				font: {
					@include fntz(1.5);
				}
			}

			.in-town-for {
				margin-top: 0.5rem;
			}

			.event {
				font: {
					@include fntz(1.25);
					weight: 700;
				}
			}

		}

	}

	.leaders,
	.story-links,
	.filter,
	.display-results,
	.leader-header,
	.writeup,
	.enter,
	.intro,
	.stories-list,
	.best-of-links {
		width: 80%;
	}

	.browse-leaders {

		h1 {
			padding-left: 20%;
		}

	}

	.leader,
	.result {
		background-color: $color-highlight;
		clear: none;
		@include grid(6);

		&:nth-child(even) {
			margin-right: 0;
		}

		.info {
			margin-left: 0.5rem;
			padding: 0.5rem 0;

			.name {
				color: $color-accent;
			}

			.title,
			.date {
				display: block;
			}

			.date {
				margin-left: 0;
			}

		}

	}

	.photo-sq {
		width: 100%;
	}

}


@media screen and (min-width: 681px) {

	.leader {
		background-color: $color-highlight;
		clear: none;
		@include grid(4);

		&:nth-child(even) {
			margin-right: 2%;
		}

		&:nth-child(3n+3) {
			margin-right: 0;
		}

		.info {
			margin-left: 1rem;
			padding: 0.5rem 0;

			.name {
				color: $color-accent;
			}

		}

	}

	.intro {

		p {
			@include grid(6);
		}

	}

	.photo {

		img {
			max-width: 14rem;
		}

	}

	.styled-select {
		float: left;
	}

	.enter {

		.form-element {
			@include grid(6);

			&:nth-child(3) {
				margin-right: 0;
			}

			&:last-child {
				margin-right: 2%;
			}

		}

	}

}

@media screen and (min-width: 961px) {

	.tagline {
		margin: 8rem auto 7rem auto;
	}

	.quote {
		margin: 8rem auto 10rem auto;
	}

	.tagline,
	.quote {

		p,
		blockquote {
			font: {
				@include fntz(3);
			}
		}

	}

	.intro {

		p {
			padding-right: 1rem;
		}

	}

	h1 {
		padding-left: 30%;
	}

	.story-links,
	.best-of-links {
		width: 60%;
	}

	.about {
		h1 {
			padding-left: 20%;
		}
	}

	.writeup .group,
	.enter .invisible p {
		@include grid(6);

		&:last-child {
			margin-top: 0;
		}

	}

	.photo {

		img {
			max-width: 16rem;
		}

	}

	.upcoming-leaders,
	.featured-stories,
	.stories,
	.best-of-stories {
		float: left;
	}

	.upcoming-leaders {
		width: 60%;

		h1 {
			padding-left: 15%;
		}

	}

	.featured-stories {
		width: 40%;

		h1 {
			margin-left: 12.5%;
			padding-left: 7.5%;
		}

	}

	.leaders,
	.stories-list {
		width: 90%;
	}

	.photo-sq {
		width: 100%;
	}

	.filter,
	.display-results {
		width: 80%;
	}

	.display-results {

		.leader {
			@include grid(3);

			&:nth-child(3n+3) {
				margin-right: 2%;
			}

			&:nth-child(4n+4) {
				margin-right: 0;
			}

		}

	}

	.browse-leaders {

		h1 {
			padding-left: 20%;
		}

	}

	.enter {

		.form-element {
			@include grid(6);
		}

		input {
			width: 100%;
		}

	}

	.stories {
		width: 60%;

		h1 {
			padding-left: 15%;
		}

	}

	.best-of-stories {
		width: 40%;

		h1 {
			margin-left: 13%;
			padding-left: 7%;
		}

	}

}

@media screen and (min-width: 1201px) {

	.intro {
		width: 70%;
	}

	main {
		width: 75%;
	}

	.upcoming-leaders {

		h1 {
			margin-left: -6.5%;
			padding-left: 6.5%;
		}

	}

	.featured-stories {

		h1 {
			margin-left: 2.5%;
			padding-left: 7.5%;
		}

	}

	.browse-leaders {

		h1 {
			margin-left: -3.5%;
			padding-left: 3.5%;
		}

	}

	.display-results,
	.leaders,
	.filter,
	.stories-list {
		width: 100%;
	}

	.story-links,
	.best-of-links {
		width: 80%;
	}

	.about {

		h1 {
			margin-left: -3.5%;
			padding-left: 3.5%;
		}

	}

	.leader-header {
		width: 75%;
	}


	.writeup,
	.enter {
		width: 100%;
	}

	.stories {

		h1 {
			margin-left: -5%;
			padding-left: 5%;
		}

	}

	.best-of-stories {

		h1 {
			margin-left: 2.5%;
		}

	}

}

