/* Browse Leaders */

.filter {
	margin: 4rem auto;
	overflow: hidden;
	padding-bottom: 2rem;
	width: 90%;

	h2 {
		color: $color-primary;
		font: {
			@include fntz(1.25);
		}
	}

	ul {

		li {
			display: inline-block;
			margin: 2rem 1.5rem 0 0;

			a {
				border: 2px solid $color-accent;
				box-sizing: border-box;
				color: $color-accent;
				padding: 0.75rem;

				&:hover {
					background-color: $color-accent;
					color: $color-highlight;
				}

			}

		}

	}

}

