/* Browse Leaders */

.filter {
	margin: 4rem auto 3rem auto;
	overflow: hidden;
	padding-bottom: 2rem;
	width: 90%;

	h2 {
		clear: both;
		color: $color-primary;
		font: {
			@include fntz(1.25);
		}

		&:last-child {
			padding-top: 2rem;
		}

	}

	ul {

		li {
			display: inline-block;
			margin-right: -0.3rem;
			width: 33.3333%;

			a {
				border: 2px solid $color-accent;
				box-sizing: border-box;
				color: $color-accent;
				display: block;
				padding: 0.75rem;

				&:hover,
				&.current {
					background-color: $color-accent;
					color: $color-highlight;
				}

			}

		}

	}

}

.styled-select {
	margin-right: 2rem;

	select {
		background-color: $color-tertiary;
		border: 2px solid $color-accent;
		color: $color-accent;
		font: {
			family: $font-text;
			@include fntz(1.1);
		}
		margin-top: 2rem;
		padding: 1rem;
		width: 10rem;
	}

}

.sort-by {
	clear: both;
	max-width: 34.2rem;
	padding-top: 2rem;
}

.display-results {
	margin: 0 auto 5rem auto;
	overflow: hidden;
	width: 90%;
}

.result {
	background-color: $color-highlight;
	clear: both;
	@include grid(12);
	margin: 1rem auto;
	overflow: hidden;

	.info {
		float: left;
		margin-left: 1rem;
		padding: 0.5rem 0;

		.name a {
			font: {
				@include fntz(1.25);
				weight: 700;
			}
		}

		.title,
		.date {
			display: inline;
		}

		.title {
			font: {
				@include fntz(1.1);
				style: italic;
				weight: 300;
			}
			line-height: 1.15em;
			margin-top: 0.25rem;
		}

		.date {
			font: {
				@include fntz(1.1);
			}
			margin-left: 1rem;
		}

	}

}

.photo-sq {
	float: left;
	width: 4rem;
}

.icon {
	float: right;
	padding: 0.5rem 0.5rem 0 0;

	i {
		color: $color-primary;
		font: {
			@include fntz(1.5);
		}
	}

}

